.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hsb-app {
  margin: 50px;
}

.hsb-app-title {
  margin-top: 50px;
}

.hsb-title {
  margin-bottom: 60px;
  height: 0;
  font-size: 40px;
  letter-spacing: -1.5px;
  color: dodgerblue;
}

.hsb-sub-title {
  font-size: 18px;
  letter-spacing: -1px;
  color: gray;
}

.hsb-input-title {
  margin-top: 40px;
  margin-bottom: 35px;
  height: 0;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -1px;
  color: gray;
}

.hsb-input-box {
  width: 300px;
  height: 35px;
  background-color: #ededed;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  color: gray;
  font-size: 15px;
  letter-spacing: -1px;
}

.hsb-btn {
  margin-left: 8px;
  width: 100px;
  height: 35px;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: -1px;
  border: none;
  border-radius: 5px;
}

.hsb-error-message {
  margin-top: 10px;
  height: 0;
  font-size: 15px;
  color: red;
  letter-spacing: -1px;
}

.hsb-car-name {
  margin-top: 10px;
  height: 0;
  font-size: 15px;
  color: gray;
  letter-spacing: -1px;
}